body {
  background-color: rgba(#e6e5b4, 0.37);
  color: #4f4f4f;
  font-family: Garamond, sans-serif;
  line-height: 2.5;
  text-align:center;
  font-size: x-large;
}

em {
  color: #000000;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #E1F5FE;
  font-family: Garamond, sans-serif;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
}

h2 {
  font-family: Garamond, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}

h3 {
  font-family: Garamond, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.03em;
  word-spacing: 0.15em;
}

h4 {
  font-family: Garamond, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}

h5 {
  font-family: Garamond, sans-serif;
  font-size:small;
  font-style: italic;
}

p {
  font-size: x-large;
}

li a {
  color: #000000;
  font-style: italic;
}

div {
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
  background-color: #03A9F4;
  border-radius: 25px;
  border: 2px solid #0277BD;
}

.twitter-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #0277BD;
}

.twitter-timeline {
  width: 20px;
  height: 1px;
}

.twitter-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #03A9F4;
  width: 50%;
  height: 40px;
  background-color: #E1F5FE;
  font-family: sans-serif;
  letter-spacing: 0.03em;
}

.twitter-follow-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1F5FE;
  height: 40px;
}
